<div class="container-fluid container-otp bg">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-sm-5 col-md-5 col-lg-4 my-auto">
            <loading-image [is-loading]="isLoading"></loading-image>
            <div>
                <div class="text-center">
                    <div class="sign-in-up">
                        <div class="box-area">
                            <h4 class="pb-20">{{'পাসওয়ার্ড বা ইউজার আইডি পুনরুদ্ধার'}}</h4>
                            <div class="form-group mb-4">
                                <div class="" style="float: left">
                                    <input [(ngModel)]="recoveryType" checked name="recoveryType" type="radio"
                                           value="userId">&nbsp;পাসওয়ার্ড পুনরুদ্ধার
                                    &nbsp;
                                    <!-- <input [(ngModel)]="recoveryType" name="recoveryType" type="radio" value="nid">&nbsp;ইউজার
                                    আইডি পুনরুদ্ধার -->
                                </div>
                                <br><br>
                                <input #userIdModelRef="ngModel" *ngIf="recoveryType=='userId'" [(ngModel)]="userId"
                                       autocomplete="off"
                                       class="form-control form-input customFont"
                                       iAutofocus
                                       id="userId"
                                       name="userId"
                                       placeholder="{{'অনুগ্রহ করে আপনার ইউজার আইডি লিখুন'}}"
                                       required
                                       tabindex="1"
                                       type="text"/>
                                <input #userIdModelRef="ngModel" *ngIf="recoveryType=='nid'" [(ngModel)]="userId"
                                       autocomplete="off"
                                       class="form-control form-input"
                                       iAutofocus
                                       id="userId"
                                       name="userId"
                                       placeholder="{{'অনুগ্রহ করে আপনার NID নাম্বার টি লিখুন'}}"
                                       required
                                       tabindex="1"
                                       type="text"/>
                            </div>
                            <div class="align-items-right">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <button [routerLink]="['/login']" class="btn btn-primary">পিছনে যান</button>
                                    </li>
                                    <li class="list-inline-item">
                                        <button (click)="onSubmitClick()" class="btn btn-primary">জমা দিন</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p-dialog [(visible)]="foregetModal" [draggable]="false" [modal]="true" [resizable]="false"
                      [style]="{width: '40vw'}" class="forgetModal"
                      header="অভিনন্দন!">
                <p>আপনার মোবাইল এবং ইমেল ঠিকানা চেক করুন. কোন বার্তা না পেলে সংশ্লিষ্ট কর্তৃপক্ষের সঙ্গে যোগাযোগ করুন</p>
                <ng-template pTemplate="footer">
                    <p-button style="font-family: 'Times New Roman', Times, serif;" (click)="backButton()" icon="pi pi-check" label="Ok"
                              styleClass="p-button-success"></p-button>
                </ng-template>
            </p-dialog>
        </div>
    </div>
</div>

<p-toast position="bottom-right"></p-toast>
