

    <div class="container mt-8 p-4 shadow p-3 mb-5 bg-white rounded">      
      <p class="mb-4" style="text-align: justify; font-size: 18pt;">
        অভ্র ফনেটিক ইংরেজি থেকে বাংলা লেখার একটি উচ্চারণভিত্তিক বর্ণান্তর পদ্ধতি। 
        প্রচলিত বাংলা লেখার পদ্ধতির চেয়ে অভ্র ফনেটিক দিয়ে বাংলা লেখা অনেক বেশি সহজ, 
        কেননা এজন্য কোন কিবোর্ড লেআউট মুখস্ত করার প্রয়োজন নেই। কিছু সুনির্দিষ্ট কিন্তু অত্যন্ত সহজ নিয়ম অনুসরণ করে আপনি সহজেই বাংলা লিখতে পারেন। 
      </p>  

      <p class="mb-4" style="font-size: 18pt;">১। এখান থেকে অভ্র কিবোর্ড ডাউনলোড করুন <a href="https://www.omicronlab.com/download/setup_avrokeyboard_5.6.0.exe"><button class="btn btn-sm btn-success">ডাউনলোড</button></a> </p>
    
      <p class="mb-4" style="font-size: 18pt;">২। ডাউনলোড সম্পূর্ণ হলে, ডাউনলোডকৃত ফাইলটি ডাবল ক্লিক করুন।</p>

      <img class="mb-2" src="./assets/ovro images/image 1.png" alt="Install image 1">
      <p class="mb-4" style="font-size: 18pt;">৩। প্রোগ্রামটি ওপেন হলে, উপরের ছবিতে দেখানো নীল বর্ডার দেয়া নেক্সট বাটনটিতে ক্লিক করুন।</p>

      <img class="mb-2" src="./assets/ovro images/image 2.png" alt="Install image 1">
      <p class="mb-4" style="font-size: 18pt;">৪। উপরের ছবিতে দেখানো নীল বর্ডার দেয়া নেক্সট বাটনটিতে ক্লিক করুন।</p>

      <img class="mb-2" src="./assets/ovro images/image 3.png" alt="Install image 1">
      <p class="mb-4" style="font-size: 18pt;">৫। উপরের ছবিতে দেখানো নীল বর্ডার দেয়া নেক্সট বাটনটিতে ক্লিক করুন।</p>

      <img class="mb-2" src="./assets/ovro images/imae 4.png" alt="Install image 1">
      <p class="mb-4" style="font-size: 18pt;">৬। উপরের ছবিতে দেখানো নীল বর্ডার দেয়া নেক্সট বাটনটিতে ক্লিক করুন।</p>

      <img class="mb-2" src="./assets/ovro images/image 5.png" alt="Install image 1">
      <p class="mb-4" style="font-size: 18pt;">৭। উপরের ছবিতে দেখানো নীল বর্ডার দেয়া ইন্সটল বাটনটিতে ক্লিক করুন।</p>

      <img class="mb-2" src="./assets/ovro images/image 6.png" alt="Install image 1"> <br>
      <img class="mb-2" src="./assets/ovro images/image 7.png" alt="Install image 1">
      <p class="mb-4" style="font-size: 18pt;">৭। ইন্সটল প্রকিয়া সম্পূর্ণ হলে, উপরের ছবিতে দেখানো নীল বর্ডার দেয়া ফিনিস বাটনটিতে ক্লিক করুন।</p>

      <a class="mb-8" style="font-size: 18pt;" target=”_blank” href="https://www.omicronlab.com/download/pdf/Bangla%20Typing%20with%20Avro%20Phonetic.pdf">৮। অভ্র কিবোর্ড ৫ ব্যবহার নির্দেশিকা</a>

      <div class="mb-8"></div>

    </div>

<!-- <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.omicronlab.com/avro-keyboard.html" allowfullscreen></iframe>
  </div> -->


  <div class="col-md-12 d-flex justify-content-start no-printme" >
    <div class="col-md-9 d-flex justify-content-start align-items-start">
        <div class="pl-5">
            <button class="btn btn-primary" (click)="backClicked()">পূর্ববর্তী</button>
        </div>

        <!-- <div>
            <button class="btn btn-primary">পরবর্তী</button>
        </div> -->
       
    </div>
</div>