<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-between">
                <div class="page-title">
                    {{'Office List' }}
                </div>
            </div>

            <div class="search-criteria d-flex">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 pl-0">
                            <button (click)="createOffice()" class="p-button-info" icon="pi pi-plus" label="{{'Create'}}" pButton
                                    pRipple>
                            </button>
                        </div>
                        <div class="col-md-4 pr-0">
                            <input #sessionSearchPopRef [(ngModel)]="defaultSearchText" [disabled]="trDisabled"
                                   autocomplete="off"
                                   class="form-control ib-input branch-search form-control form-input search-input  search-border"
                                   id="sessionSearchPop" name="sessionSearchPop" placeholder="{{'SearchByN'}}"
                                   tabindex="11" type="text"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="search-result">
                <p-table #sessionTableRef (onLazyLoad)="onSessionLazyLoad($event)" [lazy]="true" [paginator]="true"
                         [resizableColumns]="true" [responsive]="true" [rowsPerPageOptions]="rowsPerPageOptions"
                         [rows]="rows" [showCurrentPageReport]="true" [totalRecords]="totalRecords"
                         [value]="sessionList"
                         columnResizeMode="expand" currentPageReportTemplate="{last} of {totalRecords}"
                         responsiveLayout="scroll" styleClass="p-datatable-gridlines" templateRight>

                    <ng-template pTemplate="header">
                        <tr>
                            <th class="text-center" [style]="{'width':'5%'}">Sl</th>
                            <th [style]="{'width':'6%'}">Code
<!--                                <p-sortIcon field="code"></p-sortIcon>-->
                            </th>
                            <th [style]="{'width':'25%'}">Name
<!--                                <p-sortIcon field="Name"></p-sortIcon>-->
                            </th>
<!--                            <th [style]="{'width':'20%'}">Address1-->
<!--                                <p-sortIcon field="Address1"></p-sortIcon>-->
<!--                            </th>-->
<!--                            <th [style]="{'width':'20%'}">Address2-->
<!--                                <p-sortIcon field="Address2"></p-sortIcon>-->
<!--                            </th>-->

                            <th class="text-center" [style]="{'width':'10%'}">Approving Authority
                            </th>
                            <th class="text-center" [style]="{'width':'10%'}">ICT Admin
                            </th>
                            <th class="text-center" [style]="{'width':'10%'}">Office Admin
                            </th>
                            <th class="text-center" [style]="{'width':'08%'}">Status
                                <!--   <p-sortIcon field="Status"></p-sortIcon>-->
                            </th>
                            <th class="text-center" [style]="{'width':'5%'}">Action
<!--                                <p-sortIcon field="Action"></p-sortIcon>-->
                            </th>
                        </tr>
                    </ng-template>

                    <ng-template let-session pTemplate="body" let-i="rowIndex">
                        <tr>
                            <td class="text-truncate text-center" data-toggle="tooltip" title="{{i+1}}">{{i+1}}</td>
                            <td class="text-truncate" data-toggle="tooltip" title="{{session.code}}">{{session.code}}
                            </td>
                            <td class="text-truncate" data-toggle="tooltip" title="{{session.name}}">{{session.name}}
                            </td>

                            <td class="text-truncate text-center" data-toggle="tooltip" title="{{session.approverOffice}}">
                                {{session.approverOffice}}
                            </td>
                            <td class="text-truncate text-center" data-toggle="tooltip" title="{{session.itOffice}}">
                                {{session.itOffice}}
                            </td>
                            <td class="text-truncate text-center" data-toggle="tooltip" title="{{session.officeAdminOffice}}">
                                {{session.officeAdminOffice}}
                            </td>
                            <td class="text-truncate text-center" data-toggle="tooltip" title="{{session.status}}">
                                {{session.status}}
                            </td>
                            <td class="text-center">
                                <button (click)="updateOffice(session.oid)" class="p-button-rounded p-button-text"
                                        icon="pi pi-pencil" pButton pTooltip="update"
                                        style="color: white; background-color: #52854D" type="button"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template let-columns pTemplate="emptymessage">
                        <tr>
                            <td [attr.colspan]="7" style="text-align: center;">
                                {{ 'No records found' }}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>
