<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="title">{{'পাসওয়ার্ড পরিবর্তন'}}</div>
            <loading-image [is-loading]="isLoading"></loading-image>
            <div class="fund-transfer d-flex flex-row">

                <!-- <div class="step-area mt-4">
                    <p-steps [(activeIndex)]="stepActiveIndex" [model]="stepItems" class="step-label-prepare"
                             id="step"></p-steps>
                </div> -->
                <div class="transfer-form-area">
                    <div class="transfer-form" style="width:426px">
                        <form (ngSubmit)="changeSubmit()" [formGroup]="chgPassForm">
                            <div class="form-group">
                                <label class="form-label" for="fromAccount">{{'পুরাতন পাসওয়ার্ড'}}</label>
                                <input style="font-family: 'Courier New', Courier, monospact !important;" (copy)="(false)" (cut)="(false)" (paste)="(false)"
                                       [showPassword]="showOldPassword" autocomplete="off"                                       
                                       class="form-control form-input reference"
                                       formControlName="oldPassword" id="oldPassword"
                                       name="oldPassword" pPassword [feedback]="false"
                                       placeholder="{{'আপনার পুরাতন পাসওয়ার্ড লিখুন'}}"
                                       required tabindex="1" type="password"
                                       
                                />
                                <span *ngIf="chgPassForm.controls['oldPassword'].dirty" class="show-pass-text">
                  <i (click)="showOldPasswordClick()" [className]="!showOldPassword ? 'pi pi-eye' : 'pi pi-eye-slash'"
                     style="font-size: 32px"></i>
                </span>
                            </div>

                            <div class="form-group">

                                <label class="form-label" for="toAccount">{{'নতুন পাসওয়ার্ড'}}</label>
                                <input style="font-family: 'Courier New', Courier, monospact !important;" (copy)="(false)" (cut)="(false)" (paste)="(false)"
                                       [showPassword]="showNewPassword"
                                       autocomplete="off" class="form-control form-input reference"
                                       formControlName="newPassword"
                                       id="newPassword"
                                       name="newPassword"
                                       pPassword
                                       [feedback]="false"
                                       placeholder="{{'আপনার নতুন পাসওয়ার্ড লিখুন'}}"
                                       required tabindex="2"
                                       type="password"/>

                                <p-message *ngIf="chgPassForm.controls['newPassword'].invalid
                                            && chgPassForm.controls['newPassword'].dirty"
                                           severity="error"
                                           text="{{'পাসওয়ার্ড কমপক্ষে ৮ অক্ষর দীর্ঘ হতে হবে' }}">
                                </p-message>

                                <span *ngIf="chgPassForm.controls['newPassword'].dirty && chgPassForm.controls['newPassword'].invalid"
                                      class="text-count" hidden>{{chgPassForm.get('newPassword').value?.length}}</span>

                                <span *ngIf="chgPassForm.controls['newPassword'].dirty" class="show-pass-text">
                                <i (click)="showNewPasswordClick()"
                                   [className]="!showNewPassword ? 'pi pi-eye' : 'pi pi-eye-slash'"
                                   style="font-size: 32px"></i>
                            </span>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="transferAmount">{{'পাসওয়ার্ড নিশ্চিতকরণ'}}</label>
                                <input style="font-family: 'Courier New', Courier, monospact !important;"  (copy)="(false)" (cut)="(false)" (paste)="(false)"
                                       [attr.disabled]="!chgPassForm.get('newPassword').value ? '' : null"
                                       [showPassword]="showConfirmPassword" autocomplete="off"
                                       class="form-control form-input reference" formControlName="confirmPassword"
                                       id="confirmPassword" name="confirmPassword" pPassword
                                       placeholder="{{'আপনার নতুন পাসওয়ার্ড নিশ্চিত করুন'}}"
                                       required tabindex="2"
                                       [feedback]="false"
                                       type="password"/>
                                <span *ngIf="chgPassForm.controls['confirmPassword'].dirty" class="show-pass-text">
                  <i (click)="showConfirmPasswordClick()"
                     [className]="!showConfirmPassword ? 'pi pi-eye' : 'pi pi-eye-slash'"
                     style="font-size: 32px"></i>
                </span>
                                <p-message
                                        *ngIf="chgPassForm.controls['confirmPassword'].dirty && chgPassForm.controls['confirmPassword'].invalid"
                                        severity="error"
                                        text="{{'পাসওয়ার্ড মিলছে না'}}">
                                </p-message>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button (click)="cancel()" [disabled]="isLoading"
                                        class="btn btn-primary mr-2">বাতিল করুন</button>
                                <button (click)="changeSubmit()" [disabled]="isLoading || chgPassForm.invalid"
                                        class="btn btn-primary">পাসওয়ার্ড পরিবর্তন করুন</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>

<p-toast position="bottom-right"></p-toast>
