<div class="bg">
    <div class="form-container">
        <form [formGroup]="customsHouseDetailsGroup" autocomplete="off">
            <div class="form-section">
                <h3>কাস্টম হাউস এর বিবরণ</h3>
                <hr>
                <div class="row mb-3">
                    <label class="col-md-4 col-sm-4 col-form-label col-form-label-sm required"
                           for="code" style="text-align: center;">অফিস কোড</label>
                    <div class="col-md-8 col-sm-8">
                        <input class="form-control form-control-sm" formControlName="code"
                               id="code"
                               placeholder="অফিস কোড"
                               type="number">
                        <span *ngIf="(f.code.touched || submitted) && (f.code.errors?.required)"
                              class="text-danger" style="font-size: 12px">অফিস কোড আবশ্যক
                        </span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-4 col-sm-4 col-form-label col-form-label-sm required"
                           for="bnname" style="text-align: center;">নাম</label>
                    <div class="col-md-8 col-sm-8">
                        <input class="form-control form-control-sm" formControlName="bnname"
                               id="bnname"
                               placeholder="নাম"
                               type="text">
                        <span *ngIf="(f.bnname.touched || submitted) && (f.bnname.errors?.required)"
                              class="text-danger" style="font-size: 12px">দপ্তরের নাম আবশ্যক
                        </span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-4 col-sm-4 col-form-label col-form-label-sm required"
                           for="bnaddress2" style="text-align: center;">ঠিকানা</label>
                    <div class="col-md-8 col-sm-8">
                        <input class="form-control form-control-sm" formControlName="bnaddress2"
                               id="bnaddress2"
                               placeholder="ঠিকানা"
                               type="text">
                        <span *ngIf="(f.bnaddress2.touched || submitted) && (f.bnaddress2.errors?.required)"
                              class="text-danger" style="font-size: 12px">দপ্তরের ঠিকানা আবশ্যক
                        </span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-4 col-sm-4 col-form-label col-form-label-sm required"
                           for="status" style="text-align: center;">অবস্থা</label>
                    <div class="col-md-8 col-sm-8">
                        <p-dropdown [options]="statusList" [showClear]="true"
                                    formControlName="status"
                                    id="status" optionLabel="bnname"
                                    optionValue="value"
                                    placeholder="অবস্থা">
                        </p-dropdown>
                        <span *ngIf="(f.status.touched || submitted) && (f.status.errors?.required)"
                              class="text-danger" style="font-size: 12px">দপ্তরের অবস্থা আবশ্যক
                        </span>
                    </div>
                </div>
            </div>
            <div>
                <div class="py-5 mb-5 d-flex justify-content-end">
                    <div>
                        <button (click)="prevToCustomsHouseList()" class="btn btn-primary mr-3">পূর্ববর্তী</button>
                        <button (click)="resetCustomsHouseDetails()" class="btn btn-primary mr-3">রিসেট</button>
                        <button (click)="submitCustomsHouseDetails()"
                                *ngIf="this.oid === null" class="btn btn-primary">জমা দিন
                        </button>
                        <button (click)="updateCustomsHouseDetails()"
                                *ngIf="this.oid !== null" class="btn btn-primary">হালনাগাদ করুন
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <p-toast position="bottom-right"></p-toast>
</div>
