
@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/roboto/Roboto-Regular.ttf');
  }
  
  @font-face {
    font-family: 'Kalpurush';
    src: url('assets/fonts/kalpurush/kalpurush.ttf');
  }
  
  
  .customFont{
    font-family: 'Roboto', 'Kalpurush';
  }
  
  .customFontSingle{
    font-family: 'Kalpurush';
  }

  .page-header{
    width: calc(100% - 30px);
    height: 67px;
    margin: 108px 15px 0 15px;
    padding: 5px;
    background-color: #D9D9D9;
    border-radius: 8px;
}

.btn-primary{
    border: none;
    background-color: #800000 !important;
}


.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: white;
}

.custom-file-upload:hover {
    background-color: #68e416 !important;
    color: black !important
}
